<div class="index_image">
  <div class="container">
    <div class="row jobs">
      <div class="columns jobs">
        <h1>New Job Posting:</h1>
        <hr>
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
