<div class="text-center">
  <h3>Education</h3>
  <hr>
  <% @education.each do |edu| %>
      <ul><strong><%= best_in_place_if correct_user, edu, :school, :as => :input, :url => user_path(@user, edu_id: edu.id) %></strong>
        <% if correct_user%>
          <%= link_to '<i class="fi-x"></i>'.html_safe, user_path(edu_id: edu.id), method: :delete %>
        <% end %>
        <p><%= best_in_place_if correct_user, edu, :field_of_study, :as => :input, :url => user_path(@user, edu_id: edu.id) %></p>
      </ul>
  <% end %>
</div>
