<div class="text-center">
  <h3>Education</h3>
  <hr>
  <% @education.each do |edu| %>
      <ul><strong><%= best_in_place edu, :school, :type => :input, :url => user_path(@user) %></strong>
      <p><%= best_in_place edu, :field_of_study, :type => :input, :url => user_path(@user) %></p>
    </ul>
  <% end %>
</div>
