<div class="text-center">
  <h3>Employment</h3>
  <hr>
  <% @employment.each do |emp| %>
  <% if emp.current == true %>
    Currently employed @
  <% end %>
    <ul><strong><%= emp.company %></strong>
      <p><%= emp.title %></p>
    </ul>
  <% end %>
</div>
