<div class="text-center">
  <h3>Employment</h3>
  <hr>
  <% @employment.each do |emp| %>
  <% if emp.current == true %>
    Currently employed @
  <% end %>
    <ul><strong><%= best_in_place emp, :company, :type => :input, :url => user_path(@user)%></strong>
      <p><%= best_in_place emp, :title, :type => :input, :url => user_path(@user) %></p>
    </ul>
  <% end %>
</div>
