<div class="text-center">
  <div class="github_button"><h1>Github Repos:</h1></div>
  <% if @user == current_user %>
  <div class="github_button2"><div class="button small info"><%= link_to 'Pull New Repos', second_splash_path %></div></div>
  <% end %>
  <hr>
</div>

<% @user.repos.each do |repo| %>
  <% if repo.show == true %>
    <div class="button expand">
      <%= link_to repo.name, repo.url  %>
      <% if @user ==current_user%>

      <%= link_to '<i class="fi-x"></i>'.html_safe, git_delete_path(repo_id: repo.id), method: :post%>

      <% end %>
    </div>
  <% else %>
    <% next %>
  <% end %>
<% end %>
