<div class="text-center">

  <% if @user == current_user %>
    <div class="github_button2">
      <%= link_to '<i class="fi-plus style3"></i>'.html_safe, second_splash_path %>
    </div>
  <% end %>

  <div class="github"><h1>Github Repos:</h1></div>
  <hr>
</div>

<% @user.repos.each do |repo| %>
  <% if repo.show == true %>
    <div class="button expand">
      <%= link_to repo.name, repo.url  %>
      <% if @user ==current_user%>

      <%= link_to '<i class="fi-x"></i>'.html_safe, git_delete_path(repo_id: repo.id), method: :post%>

      <% end %>
    </div>
  <% else %>
    <% next %>
  <% end %>
<% end %>
