<div class="text-center">
  <h1>Github Repos:</h1>
  <hr>
</div>

<% @user.repos.each do |repo| %>
  <% if repo.show == true %>
    <div class="button expand">
      <%= link_to repo.name, repo.url  %>
      <% if @user ==current_user%>

      <%= link_to '<i class="fi-x"></i>'.html_safe, git_delete_path(repo_id: repo.id), method: :post%>

      <% end %>
    </div>
  <% else %>
    <% next %>
  <% end %>
<% end %>
