<div class="panel">
  <div class="text-center">
    <h4>Looking For:</h5>
    <hr>
    <h5>Qualitys</h5>
    <ul><%= @lf.quality %></ul>
    <br>
    <h5>Locations</h5>
    <ul><%= @lf.location %></ul>
    <br>
    <h5>Languages</h6>
    <ul><%= @lf.language %></ul>
    <br>
  </div>
</div>
