<div class="panel">
  <div class="text-center">
    <h4>Looking For:</h5>
    <hr>
    <h5>Qualitys</h5>
    <ul>
      <% if @lf != nil %>
        <%= @lf.quality %>
      <% end %>
    </ul>
    <br>
    <h5>Locations</h5>
    <ul>
      <% if @lf != nil %>
        <%= @lf.location %>
      <% end %>
    </ul>
    <br>
    <h5>Languages</h6>
      <ul>
        <% if @lf != nil %>
          <%= @lf.language %>
        <% end %>
      </ul>
    <br>
  </div>
</div>
