<div class="panel">
  <div class="text-center">
    <h5>Looking for:</h5>
    <hr>
  </div>

  <%= form_for @user do |f| %>
    <%= f.text_area :looking_for, :placeholder => 'What are you looking for in a company?' %>
  <% end %>
</div>
