<div class="text-center">
  <h3>Skills</h3>
  <hr>
  <% @skills.each do |ski| %>
    <%= best_in_place_if correct_user, ski, :name, :as => :input, :url => user_path(@user, ski_id: ski.id) %>
    <% if correct_user%>
      <%= link_to '<i class="fi-x"></i>'.html_safe, user_path(ski_id: ski.id), method: :delete %>
    <% end %>
  <% end %>
</div>
