<div id="fullpage">
  <div class="section active">
    <div class="slide">
      <div class="container">
        <div class="row">
          <div class="medium-4 columns">
            <img src="assets/placeholder_user.png">
            <div class="text-center">
              <h3>User Name</h3>
              <hr>
            </div>
            <p>Bio: </p>

            <%= render 'looking_for_form' %>

          </div>

          <div class="medium-8 columns">
            <div class="panel expgit">
              <%= render 'experience_form' %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slide">
      <div class="container">
        <div class="row">
          <div class="medium-4 columns">
            <img src="assets/placeholder_user.png">
            <div class="text-center">
              <h3>User Name</h3>
              <hr>
            </div>
            <p>Bio: </p>

            <%= render 'project_form' %>

          </div>

          <div class="medium-8 columns">
            <div class="panel expgit">
              <%= render 'github_form' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
