/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

.welcome {
 height: 100%;
 width: 100%;
 background-image: url("/galvanize_1.jpg")
}

.navbar {
 margin-bottom: 50px;
}

.panel.expgit {
  margin-top: 20px;
}

.button a {
  font-family: 'Raleway', sans-serif;
  color: #F6EFEE;
}

.button.expand {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 2px;
}

.profilepic {
  margin-top: 20px;
}

.arrowleft {
  position: absolute;
  left: 10px;
  top: 500px;
}

.arrowright {
  position: absolute;
  right: 10px;
  top: 500px;
}

h1,h2,h3,h4,h5,h6,a,p {
  font-family: 'Raleway', sans-serif;
}
