/*= require foundation */
 /*= require_tree . */
 /*= require_self */
 /*= require foundation_and_overrides */

@import 'foundation_and_overrides';
@import 'foundation-icons';

.searchtag {
 display: inline-block;
}

.panel.callout a:not(.button) {
  font-family: 'lobster', cursive;
}

.github h1 {
  font-family: 'lobster', cursive;
}

select {
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 28px;
}

.searchdropdown {
  top: 8.5px;
  position: relative;
  height: 28px;
  width: 75px;
  margin-bottom: 0px;
  display: inline-block;
}

.style3 {
  font-size: 30px;
  color: #008CBA;
  text-shadow: 0 0 5px #fff,0 0 10px #fff,0 0 15px #fff,0 0 20px #008CBA,0 0 30px #008CBA,0 0 40px #008CBA,0 0 50px #008CBA,0 0 75px #008CBA;
}

.dividerbar {
  color: #FFFFFF;
}

.github_button2 {
  float: right;
}

.empplus {
  float: right;
}

.edplus {
  float: right;
}

.skiplus {
  float: right;
}

.button.small.post {
  width: 100px;
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.top-bar-section li:not(.has-form) a:not(.button) {
  font-family: 'lobster', cursive;
  color: #FFFFFF;
}

.top-bar-section ul li {
  height: 45px;
}

.tableheader h4 {
  font-family: 'lobster', cursive;
}

.nameheader h2 {
  font-family: 'Lobster', cursive;
}

.edheader h3 {
  font-family: 'Lobster', cursive;
}

.empheader h3 {
  font-family: 'Lobster', cursive;
}

.skheader h3 {
  font-family: 'Lobster', cursive;
}

.searchbox {
 display: inline-block;
}

.row.show {
  background-color: #FFFFFF;
  opacity: 0.93;
}

.row.git {
  background-color: #FFFFFF;
  opacity: 0.93;
}


.welcome {
 height: 100%;
 width: 100%;
 background-image: image-url("Galvanize_1.jpg")
}

.panel.callout {
  position: absolute;
  margin-top: 150px;
  margin-left: 25%;
  height: 60%;
  width: 50%;
  border-color: #b6edff;
}

.githired-logo {
  height: 30px;

}

.panel.callout .text-center {
  margin-top: 150px;
}
// .linkedin {
//   position: absolute;
//   margin-top: 11%;
//   margin-left: 37%;
//   height: 100px;
//   width: 100px;
// }
//
// .plus {
//   position: absolute;
//   height: 64px;
//   width: 64px;
//   margin-top: 12%;
//   margin-left: 48%;
// }
//
// .github {
//   position: absolute;
//   margin-top: 10%;
//   margin-left: 55%;
//   border-color: #000000;
// }

.navbar {
 margin-bottom: 50px;
}

.button.small.edit {
  background-color: #ffc500;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100px;
}

table thead tr th {
  padding-bottom: 0px;
  padding-top: 0px;
}

.button.small.alert.destroy {
  margin-top: 10px;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100px;
}

.panel.expgit {
  margin-top: 20px;
}

.button a {
  font-family: 'Raleway', sans-serif;
  color: #F6EFEE;
}

.button.expand {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 2px;
}

.profilepic {
  margin-top: 20px;
}

.arrowleft {
  position: fixed;
  left: 10px;
  top: 50%;
}

.arrowleft:hover {
  opacity: 0.7;
}

.arrowright {
  position: fixed;
  right: 10px;
  top: 50%;
}

.arrowright:hover {
  opacity: 0.7;
}

h1,h2,h3,h4,h5,h6,a,p,div {
  font-family: 'Raleway', sans-serif;
}

.index_image {
  background-image: image-url("Galvanize_1.jpg");
  min-height: 1200px;
}

.user_show_image {
  background-image: image-url("Galvanize_1.jpg")
}

.user_git_image {
  background-image: image-url("Galvanize_1.jpg")
}

.job-new {
  background-image: image-url("Galvanize_1.jpg")
}

.job-edit {
  background-image: image-url("Galvanize_1.jpg")
}

.job-show {
  background-image: image-url("Galvanize_1.jpg")
}

.job-index {
  background-image: image-url("Galvanize_1.jpg")
}

.panel.purple {
  border-style: solid;
  border-width: 3px;
  border-color: #5d5fad;
}

.button.small {
  float: right;
  margin-top: 20px;
}

.row.jobs {
  background-color: #FFFFFF;
}

.columns.jobs {
  height: 100%;
  padding-left: 30px;
  padding-right: 30px;
}

.panel.purple h3 {
  color: #5d5fad;
}

.panel.purple ul {
  list-style: none;
}

.panel.purple ul li a{
  color: #5d5fad;
}

.github_button {
  float: left;
  padding-right: 100px;
}

.button.small.info {
  margin-top: 5px;
}
